{% extends 'core/base.html' %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{%endblock %}
{% block main %}
<section class="container">
    <div class="catalog-wrapper">

        <div class="menu">
            <nav>
                <ul class="name_menu">
                    {%for type in product_type %}
                    <li><a class="link1" href="{%url 'product_filter' type.pk%}">{{type.title}}</a></li>
                    {%endfor%}
                </ul>
            </nav>
        </div>

        <div class="catalog">

            <h1 class="h1_container">МЕБЕЛЬ</h1>
            <ul class="product_list">
                {% for p in products %}

                <li class="product_item ">
                    <div class="product_img_container">
                        <img class="product_img" src="{{p.productimg_set.first.image.url}}">
                    </div>
                    <div class="product-nav">

                        <a href="{{p.get_absolute_url}}">
                            <h2 class="product_title">{{p.title}}</h2>
                        </a>
                        <p class="product_price">{{p.price}}</p>
                        <a href="{%url 'add_to_cart' p.pk%}" class="product_button">В корзину</a>

                    </div>
                </li>

                {% endfor %}
            </ul>

        </div>

    </div>
</section>

{% endblock %}
