form {
  position: absolute;
  width: 50%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);

  display: flex;
  align-items: center;
  flex-direction: column;

  padding: 10px;
}


form div {
  position: relative;
  margin: 20px 0;

  width: 100%;
}

form div input {
  width: 100%;
  height: 40px;

  font-size: 21px;

  border-radius: 5px;

  outline: none;

  border: 1px solid #474747;
}

form div label {
  font-size: 20px;
}

form button {
  padding: 5px 10px;

  font-size: 21px;

  background-color: #ffc107;
  border: none;

  border-radius: 5px;

  transition: all .2s;
}

form button:hover {
  background-color: #ffc1078a;
}


@media(max-width:1000px) {
  form {
    width: 97%;
  }
  
  .form_title {
    font-size: 55px;
  }

  form div label {
    font-size: 50px;
  }

  form div input {
    height: 80px;
    font-size: 50px;
  }

  form button {
    font-size: 50px;
    padding: 15px 30px;

  }

  .helptext {
    display: none;
  }
}