{% extends 'core/base.html' %}
{% load static %}
{%block styles%}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
<link rel="stylesheet" href="{% static 'css/change_profile.css' %}">
{%endblock %}
{% block main %}
<section class = "container">
    <form method="post" action="">
        <h2 class = "form_title">Изменить информацию</h2>
        {%csrf_token%}
        {{form}}

        <a class="change-password-link"  href="{%url 'change_password'%}">Изменить пароль</a>
        <button type="submit">Сохранить</button>
    </form>

</section>
{%endblock%}